/* Light Theme */
:root {
  --bg: #e9e5d5;
  --card-bg: #d6e1d2;
  --sidebar-bg: #f6eee0;
  --text: #2b3937;

  --pie1: #b2c9ab;
  --pie2: #c8b8a9;
  --pie3: #afcfd3;
  --pie4: #e2bfc6;
  --pie5: #e3d4b9;

  --accent: #c7d8c0;
}

/* Dark Theme */
body.dark {
  --bg: #1c1c1a;
  --card-bg: #2a2e2b;
  --sidebar-bg: #242320;
  --text: #f0f0f0;

  --pie1: #9abf88;
  --pie2: #aa8c8e;
  --pie3: #6c9ba6;
  --pie4: #b48b9a;
  --pie5: #d0c4a6;
}
